body {
    margin: 0;
    min-height: 100vh;
    background-color: #080808;
    font-family: Arial, sans-serif;
    color: white;
}

/* Dark background */
.background {
    min-height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.85)),
        url("images/esports-background.jpg");

    background-size: cover;
    background-position: center;
}

/* Login box */
.login-box {
    width: 430px;
    background-color: #191919;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
    position: relative;
}

/* Logo */
.logo {
    width: 200px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto 15px;
}

.login-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

/* Social buttons */
.discord-btn {
    background-color: #635bff;
    color: white;
    border: none;
}

.discord-btn:hover {
    background-color: #5148e8;
    color: white;
}

.google-btn {
    background-color: transparent;
    color: white;
    border: 1px solid #635bff;
}

.google-btn:hover {
    background-color: #222222;
    color: white;
}

/* Input */
.form-control {
    background-color: transparent;
    border: 1px solid #555;
    color: white;
    height: 50px;
    border-radius: 12px;
}

.form-control:focus {
    background-color: transparent;
    color: white;
    border-color: #635bff;
    box-shadow: none;
}

.form-control::placeholder {
    color: #aaa;
}

.form-label {
    color: #bbb;
}

/* Login button */
.login-btn {
    background-color: #635bff;
    color: white;
    border: none;
    height: 50px;
    border-radius: 12px;
    font-size: 18px;
}

.login-btn:hover {
    background-color: #5148e8;
    color: white;
}

.forgot {
    color: #999;
    text-decoration: none;
}

.forgot:hover {
    color: white;
}

.signup {
    color: #635bff;
    text-decoration: none;
}

.signup:hover {
    color: #817aff;
}

/* OR line */
.or-line {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin: 25px 0;
}

.or-line::before,
.or-line::after {
    content: "";
    height: 1px;
    background-color: #555;
    flex: 1;
}

/* Password eye */
.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #aaa;
    cursor: pointer;
}

#message {
    text-align: center;
}

